.section-quote{
	position: relative; text-align: center; padding: 60px 0; z-index: 0;
	background-image: linear-gradient(to right,  rgba(2, 196, 136, 0.5), rgba(57, 189, 202, 0.7));
	h2{margin: 10px;}
	.row{text-align: left; margin: 50px 0 30px;}
	.wrap-form-input{margin-bottom: 20px;}
	.regular{padding: 10px 50px;}
	&:after{
		content: "";
		position: absolute;
		background-image: url("../source/images/quote-line.png");
		background-position: center center;
		background-size: auto 100%; 
		background-repeat: no-repeat;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
}