/*--------------------------------------------------------------
- H group
--------------------------------------------------------------*/
// h1{font-weight: bold;}
// h1{}
// h2{}
// h3{}
// h4{}
// h5{}
// h6{}

/*--------------------------------------------------------------
- Title Style
--------------------------------------------------------------*/

h1{
	margin: 0;
	font-family: 'Prompt', sans-serif;
	font-size: 36px;
	font-weight: 700;
}
h2{
	margin: 0;
	font-family: 'Prompt', sans-serif;
	font-size: 30px;
	font-weight: 700;
}
h3{
	margin: 0;
	font-family: 'Sarabun', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}
h3.EN-1{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}
h3.EN-2{
	margin: 0;
	font-family: 'Prompt', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
}
h3.BLOG{
	margin: 0;
	font-family: 'Prompt', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
}







