$white: #FFFFFF;
$black: #000000;

$gray1: #333333;
$gray2: #777777;
$gray3: #E5E5E5;
$gray4: #EEEEEE;
$gray5: #f8f8f8;

$primary: #02C488;
$secondary: #39BDCA;
$facebook: #3b5998;
$twitter: #55acee;
$line: #00B900;
$google: #DC4C39;
$youtube: #FF0000;

$lightBlack: #2E2F31;
$gray: #707070;
$lightGray: #fcfcfc;

.primary{color: $primary;}
.secondary{color: $secondary;}
.white{color: $white;}
.gray1{color: $gray1;}
.gray2{color: $gray2;}


$red2: #EF2626;
$yellow: #F7B728;
$green2: #108338;
$blue2: #2F7AF2;



// $text-color: #444444;
// $link-color: #e64946;

// $tmv: #f5bb2e;
// $tvs: #f02f94;
// $tol: #00a0c6;
// $light-green: #57aa7a;
// $light-background: #f8f8f8;
// $dark-sky-blue: #54a1dd;
// $silver: #d1dadd;
// $dark-background: #393d41;
// $dark-blue: #213449;
// $light-border: #ececec;
// $subheader: #878787;
// $header: #4a4a4a;
// $primary: #be493e;


// //gray color
// $gray1: #4F4F4F;
// $gray2: #717374;
// $gray3: #95989A;
// $gray4: #AAACAE;
// $gray5: #D5D6D7;
// $gray6: #F0F0F0;
// $gray7: #F8F8F8;
// .gray1{color: $gray1;}
// .gray2{color: $gray2;}
// .gray3{color: $gray3;}
// .gray4{color: $gray4;}
// .gray5{color: $gray5;}
// .gray6{color: $gray6;}
// .gray7{color: $gray7;}
// .bg-gray1{background: $gray1; color: #fff;}
// .bg-gray2{background: $gray2; color: #fff;}
// .bg-gray3{background: $gray3; color: #fff;}
// .bg-gray4{background: $gray4; color: #fff;}
// .bg-gray5{background: $gray5; color: #fff;}
// .bg-gray6{background: $gray6; color: #fff;}
// .bg-gray7{background: $gray7; color: #fff;}


// $white: #FFFFFF;
// $black: #000000;
// $blue: #0B2D4C;
// $dark-blue: #3C5364;
// $light-blue: #8da2b1;
// $pink: #F3594D;
// $light-pink: #ee6a69;
// $dark-pink: #F3594D;
// $brown: #B6A89D;
// $light-brown: #edeae3;
// $gray: #657B8B;
// $dark-gray: #2b3032;
// $light-gray: #B5C9D9;


// .blue{color: $blue;}
// .white{color: $white;}
// .pink{color: $pink;}
